.navbar-fixed .brand-logo {
    font: bold;
    font-size: 2rex;
    font-weight: 600;
    font-style: italic ;
    
}

section{
    padding: 2rem 9%

}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(images/img2\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
}



.header{
    font-size: x-small;

    
}

.container12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container12 img {
    width: 290px;
    height: 280px;
    cursor: pointer;
    margin: 8px;
    transition: 400ms;
}

.div2 {
    font: bold;
    font-size: 2rex;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    
}
